[v-cloak] {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $mainColor;
    text-align: center;
    font-family: "微软雅黑", "微軟正黑體";
    height: 100%;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
}

#main{
    width: 100%;
    height: 100%;
}
a {
    @include transition(all 0.2s linear);
}

h1, h2 {
    text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
}

#content {
    width: 95%;
    height: 100%;
    max-width: 960px;
    overflow-y: auto;
}

.row {
    margin-top: 20px;
}

#intro-video {
    width: 100%;
    position: relative;
    height: auto;
    display: inline-block;
}

.close {
    width: 30px;
    height: auto;
    position: absolute;
    right: 5px;
    top: 5px;
    img {
        width: 100%;
        height: auto;
    }
}

.loading {
    width: 50px;
    height: auto;
    display: inline-block;
    img {
        width: 100%;
        height: auto;
    }
}

.questionBox {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em;
    @include opacity(0.7);
    .ques_q {
        font-weight: bold;
    }
    .ques_a {
        font-size: 20px;
        color: #b42f30;
    }
}