<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RO-新世代 XO答題器</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="main" v-cloak>
        <div class="container" id="content">
            <h1 class="h1">RO-新世代的誕生 XO答題器</h1>
            <h2>By Shela</h2>
            <div class="row">
                <div class="col col-12">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">問題</span>
                        <input type="text" class="form-control" placeholder="请输入問題關鍵字" aria-label="请输入問題關鍵字" aria-describedby="sizing-addon1" v-model="searchTxt">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col col-12">
                    <div class="questionBox" v-for="(item, index) in quest_List" :key="index">
                        <div class="ques_q">{{item.question}}</div>
                        <div class="ques_a">{{item.answer}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="js/vue.min.js"></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js'></script> -->
    <script src="js/index.js"></script>
</body>

</html>